.my-footer {
    height: 5em;
    padding: 1em;
    margin-top: 1em;
    background-color: #3e3e3e;
    color: white;
    font-size: 80%;
}

.notie-container {
    box-shadow: none;
}

.datepicker-picker {
    z-index: 9999999;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
}