{{template "base" .}}

{{define "content"}}

<div class="container">

    <div class="row">
        <div class="col-md-6 col-xs-12 d-block mx-auto">
            <img src="/static/images/majors-suite.png" class="img-fluid img-thumbnail" alt="generals quarters">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Major's Suite</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, provident.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, impedit id? Fuga, sed maxime? Aperiam?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a id="reservation-button" href="#!" class="btn btn-success">
                Check Availability
            </a>
        </div>
    </div>
</div>

{{end}}