{{template "base" .}}

{{define "content"}}

<div class="container">

    <h1 class="text-center mt-4">Search for availability</h1>
    
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <form action="/search-availability" method="post" novalidate class="needs-validation">

                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                <div class="row" id="reservation-datepicker-old">
                    <div class="col-md-6">
                        <input required type="text" class="form-control" name="start" placeholder="Arrival">
                        <div class="invalid-feedback">
                            Please provide an arrival date
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input required type="text" class="form-control" name="end" placeholder="Departure">
                        <div class="invalid-feedback">
                            Please provide departure date
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Search Availability</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>

{{end}}

{{define "js"}}
    <script>
        if (document.getElementById('reservation-datepicker-old'))
        new DateRangePicker(document.getElementById('reservation-datepicker-old'), {
            format: "yyyy-mm-dd"
        });
    </script>
{{end}}